.home {
    height: 900px;
    background-image: url(bg_hero_1.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

#container__home {
    padding-top: 20vh;
}

#header__home {
    margin-top: 15vh;
}

#img__home {
    max-height: 500px;
    min-width: 170px;
}

.navbar-floating {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
}

#btn-nav {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-right: 20px;
    background-color: rgb(45, 45, 187);
    color: white;
    border-radius: 20px;
}

#btn-nav:hover {
    box-shadow: 0 4px 16px 1px darkblue;
}

#fa1 {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 50px;
    border-radius: 50%;
    background-color: orange;
    padding: 15px;
}

#fa2 {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 50px;
    border-radius: 50%;
    background-color: blue;
    padding: 15px;
}

#fa3 {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 50px;
    border-radius: 50%;
    background-color: purple;
    padding: 15px;
}